body {
    display: grid;
    grid-template-areas:
        ". p v ."
        ". t t .";
    grid-template-columns:
        auto
        minmax(auto, calc(1400px * 0.5))
        minmax(auto, calc(1400px * 0.5))
        auto;
}

.v {
    padding-bottom: 0;
}