body {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
        "p"
        "t"
        "v";
}

.p {
    grid-area: p;
}

.t {
    grid-area: t;
}

.v {
    grid-area: v;
    padding-bottom: calc(315 / 560 * 100%);
    position: relative;
    width: 100%;
}

picture {
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.t > p {
    column-count: 1;
}

.vid {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}