.row, .cell, .container {
    margin: 5px;
    padding: 5px;
    outline: 2px solid;
}

.row {
    outline-color: green;
}

.cell {
    min-height: 50px;
    outline-color: orange;
    background-color: orange;
}

.container {
    margin: 0 auto;
    outline-color: blue;
}

.header__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    min-width: 100px;
    height: 50px;
    margin-left: 35vw;
}

.header__nav {
    display: none;
    width: 100%;
    height: 50px;
}

#hamburger {
    display: none;
}

label {
    font-size: 3rem;
    cursor: pointer;
    
}

i {
    margin-top: 6px;
}

input:checked + .header__nav {
    display: inline-block;
}

.content__article,
.content__ads {
    min-height: 30vh;
}

.content__article2 {
    min-height: 20vh;
}

.footer__container {
    display: flex;
    justify-content: center;
    min-height: 50px;
}

.footer__copyrights {
    width: 150px;
}