nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 100%;
    display: none;
}

.menu__item {
    border: 1px solid #bbb;
    padding: 10px 0;
    text-align: center;
}

.menu__item:hover {
    background-color:#bbb
}

.ham-menu {
    font-size: 1.5rem;
}

#hamburger {
    display: none;
}

input:checked + .menu {
    display: block;
}

.dropdown {
    display: none;
}

.dropdown__item {
    padding: 10px 0;
}

.menu__dropdown:hover .dropdown {
    display: block;
}